*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --bg:#f6f6f6;
    --title:#F8911B;
    --btn:#DD471F;
    --border:#2E670A;
    --text:rgb(51, 49, 49);
}
body{
    min-height: 100vh;
}
nav{
    background-color: var(--btn);
    .navbar-toggler{
        color: var(--bg);
    }
    .navbar-brand{
        color: var(--bg);
    }
    .nav-link{
        color: var(--bg) !important;
    }
    .nav-link:hover{
        color: var(--border) !important;
    }
    .order{
        border-radius: 10px;
        padding: 10px 15px !important;
    }
    .order:hover{
        background-color: #2E670A;
        color: var(--bg) !important;
    }
}
#home{
    width: 100%;
    img{
        height: calc(100vh - 60px) !important;
    }
    .carousel-item{
        position: relative;
        .carousel-caption{
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            justify-content: center !important;
            align-items: center !important;
            display: flex !important;
            flex-direction: column !important;
            gap: 50px !important;
            pointer-events: none;
            z-index: 2;
            h5{
                font-size: 50px;
            }
            button{
                cursor: pointer;
                pointer-events: visible;
                padding: 10px 15px ;
                border-radius: 5px;
                border: none;
                color: var(--bg);
                background-color: var(--title);
            }
        }
        .layer{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.527);
            
        }
    }
}
.popUp{
    padding: 20px;
    width: 80%;
    min-height: 500px;
    border-radius: 10px;
    position: fixed;
    background-color: #F8911B;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    img{
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    h3{
        color: var(--bg);
    }
    p{
        overflow: auto;
        height: 150px;
        color: var(--bg);
        span{
            font-size: 35px;
            color: var(--btn);
            font-weight: 700;
        }
    }
    a {
        cursor: pointer;
        pointer-events: visible;
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        color: var(--bg) !important;
        text-decoration: none;
        background-color: var(--btn);
    }
    .close{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: var(--bg);
    }
}
.backLayer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(66, 55, 55, 0.459);
}
.popUp p::-webkit-scrollbar{
    width: 5px;
}
.popUp p::-webkit-scrollbar-thumb{
    background-color: #DD471F;
    border-radius: 10px;
}
.popUp p::-webkit-scrollbar-track{
    background-color:var(--bg);
}
.none{
    display: none;
}